# このnotebookの目的


データの整形用
学習データにするためにデータを整形する
detaAll.csv : dataの最終的なフォーマットのcsv

整形する先のカラム一覧は以下の通り

'id', 'item_id', 'dept_id', 'cat_id', 'value'(売り上げ個数), 'day', 

'wm_yr_wk','wday', 'month', 'year', 'event_name_1', 'event_type_1', 

'event_name_2','event_type_2', 'snap_CA', 'snap_TX', 'snap_WI', 

'prev28', 'prev29','prev365', 'prev366' (prevX は X日前のデータ)

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import seaborn as sns
%matplotlib inline
import re

from tqdm import tqdm
import os
for dirname, _, filenames in os.walk('input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

input\200403_last30_sales_less.csv
input\200404_sales_train_validation_EventLess.csv
input\calendar.csv
input\dataAll.csv
input\dataCA_1.csv
input\dataCA_1.pickle
input\dataCA_2.pickle
input\dataCA_3.pickle
input\dataCA_4.pickle
input\dataTX_1.pickle
input\dataTX_2.pickle
input\dataTX_3.pickle
input\dataWI_1.pickle
input\dataWI_2.pickle
input\dataWI_3.pickle
input\sales_train_validation.csv
input\sample_submission.csv
input\sell_prices.csv

In [2]:
def read_data():
    print('Reading files...')
    calendar = pd.read_csv('input/calendar.csv')
    print('Calendar has {} rows and {} columns'.format(calendar.shape[0], calendar.shape[1]))
    sell_prices = pd.read_csv('input/sell_prices.csv')
    print('Sell prices has {} rows and {} columns'.format(sell_prices.shape[0], sell_prices.shape[1]))
    sales_train_validation = pd.read_csv('input/sales_train_validation.csv')
    print('Sales train validation has {} rows and {} columns'.format(sales_train_validation.shape[0], sales_train_validation.shape[1]))
    submission = pd.read_csv('input/sample_submission.csv')
    return calendar, sell_prices, sales_train_validation, submission

In [3]:
calendar, sell_prices, sales_train_validation, submission = read_data()

Reading files...
Calendar has 1969 rows and 14 columns
Sell prices has 6841121 rows and 4 columns
Sales train validation has 30490 rows and 1919 columns

In [4]:
#pickleデータを読み込むコード
def read_data2():
    print('Reading files...')
    dataCA_1 = pd.read_pickle('input/dataCA_1.pickle')
    print('CA_1 has {} rows and {} columns'.format(dataCA_1.shape[0], dataCA_1.shape[1]))
#     dataCA_2 = pd.read_pickle('input/dataCA_2.pickle')
#     print('CA_2 has {} rows and {} columns'.format(dataCA_2.shape[0], dataCA_2.shape[1]))
#     dataCA_3 = pd.read_pickle('input/dataCA_3.pickle')
#     print('CA_3 has {} rows and {} columns'.format(dataCA_3.shape[0], dataCA_3.shape[1]))
#     dataCA_4 = pd.read_pickle('input/dataCA_4.pickle')
#     print('CA_4 has {} rows and {} columns'.format(dataCA_4.shape[0], dataCA_4.shape[1]))
#     dataTX_1 = pd.read_pickle('input/dataTX_1.pickle')
#     print('TX_1 has {} rows and {} columns'.format(dataTX_1.shape[0], dataTX_1.shape[1]))
#     dataTX_2 = pd.read_pickle('input/dataTX_2.pickle')
#     print('TX_2 has {} rows and {} columns'.format(dataTX_2.shape[0], dataTX_2.shape[1]))
#     dataTX_3 = pd.read_pickle('input/dataTX_3.pickle')
#     print('TX_3 has {} rows and {} columns'.format(dataTX_3.shape[0], dataTX_3.shape[1])) 
#     dataWI_1 = pd.read_pickle('input/dataWI_1.pickle')
#     print('WI_1 has {} rows and {} columns'.format(dataWI_1.shape[0], dataWI_1.shape[1]))
#     dataWI_2 = pd.read_pickle('input/dataWI_2.pickle')
#     print('WI_2 has {} rows and {} columns'.format(dataWI_2.shape[0], dataWI_2.shape[1]))
#     dataWI_3 = pd.read_pickle('input/dataWI_3.pickle')
#     print('WI_3 has {} rows and {} columns'.format(dataWI_3.shape[0], dataWI_3.shape[1])) 
    return dataCA_1
#     return dataCA_1,dataCA_2,dataCA_3,dataCA_4,dataTX_1,dataTX_2,dataTX_3,dataWI_1,dataWI_2,dataWI_3

In [5]:
dataCA_1= read_data2()
# dataCA_1,dataCA_2,dataCA_3,dataCA_4,dataTX_1,dataTX_2,dataTX_3,dataWI_1,dataWI_2,dataWI_3= read_data2()

Reading files...
CA_1 has 6000432 rows and 21 columns

In [6]:
dataCA_1

,id,item_id,dept_id,cat_id,value,day,wm_yr_wk,wday,month,year,...,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,prev28,prev29,prev365,prev366
1612,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,3,1,11101,1,1,2011,...,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN
4661,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,0,2,11101,2,1,2011,...,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN
7710,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,0,3,11101,3,1,2011,...,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN
10759,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,1,4,11101,4,2,2011,...,NaN,NaN,NaN,1,1,0,NaN,NaN,NaN,NaN
13808,FOODS_1_001_CA_1_validation,FOODS_1_001,FOODS_1,FOODS,4,5,11101,5,2,2011,...,NaN,NaN,NaN,1,0,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5986798,HOUSEHOLD_2_516_CA_1_validation,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,0,1964,11620,4,6,2016,...,NaN,NaN,NaN,0,0,1,0.0,0.0,0.0,1.0
5989847,HOUSEHOLD_2_516_CA_1_validation,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,0,1965,11620,5,6,2016,...,NaN,NaN,NaN,0,1,1,0.0,0.0,0.0,0.0
5992896,HOUSEHOLD_2_516_CA_1_validation,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,0,1966,11620,6,6,2016,...,NaN,NaN,NaN,0,0,0,0.0,0.0,0.0,0.0
5995945,HOUSEHOLD_2_516_CA_1_validation,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,0,1967,11620,7,6,2016,...,NaN,NaN,NaN,0,0,0,0.0,0.0,0.0,0.0
5998994,HOUSEHOLD_2_516_CA_1_validation,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,0,1968,11621,1,6,2016,...,NaN,NaN,NaN,0,0,0,0.0,0.0,1.0,0.0

In [7]:
sales_train_validation_cat=sales_train_validation.loc[:,['cat_id','item_id']]

In [8]:
sales_train_validation_cat

        cat_id        item_id
0      HOBBIES  HOBBIES_1_001
1      HOBBIES  HOBBIES_1_002
2      HOBBIES  HOBBIES_1_003
3      HOBBIES  HOBBIES_1_004
4      HOBBIES  HOBBIES_1_005
...        ...            ...
30485    FOODS    FOODS_3_823
30486    FOODS    FOODS_3_824
30487    FOODS    FOODS_3_825
30488    FOODS    FOODS_3_826
30489    FOODS    FOODS_3_827

[30490 rows x 2 columns]

In [11]:
sell_prices=sell_prices.merge(sales_train_validation_cat,on='item_id')

In [13]:
sell_prices.groupby(['store_id','cat_id']).min()

MemoryError: Unable to allocate 522. MiB for an array with shape (68411210,) and data type int64

In [21]:
sell_prices.groupby(['store_id','item_id']).min()

                          wm_yr_wk  sell_price
store_id item_id
CA_1     FOODS_1_001         11101        2.00
         FOODS_1_002         11101        7.88
         FOODS_1_003         11101        2.88
         FOODS_1_004         11206        1.50
         FOODS_1_005         11101        2.94
...                            ...         ...
WI_3     HOUSEHOLD_2_512     11101        3.97
         HOUSEHOLD_2_513     11311        2.78
         HOUSEHOLD_2_514     11101       17.94
         HOUSEHOLD_2_515     11352        1.97
         HOUSEHOLD_2_516     11101        5.94

[30490 rows x 2 columns]

In [13]:
dataCA_1=dataCA_1.groupby(["cat_id","day"]).sum()

In [14]:
dataCA_1

                value  wm_yr_wk  wday  month     year  snap_CA  snap_TX  \
cat_id    day
FOODS     1      3239  15952137  1437   1437  2889807        0        0
          2      3137  15952137  2874   1437  2889807        0        0
          3      2008  15952137  4311   1437  2889807        0        0
          4      2258  15952137  5748   2874  2889807     1437     1437
          5      2032  15952137  7185   2874  2889807     1437        0
...               ...       ...   ...    ...      ...      ...      ...
HOUSEHOLD 1964      0  12166140  4188   6282  2110752        0        0
          1965      0  12166140  5235   6282  2110752        0     1047
          1966      0  12166140  6282   6282  2110752        0        0
          1967      0  12166140  7329   6282  2110752        0        0
          1968      0  12167187  1047   6282  2110752        0        0

                snap_WI  prev28  prev29  prev365  prev366
cat_id    day
FOODS     1           0     0.0     0.0   3646.0   3166.0
          2           0     0.0     0.0   3338.0   3646.0
          3           0     0.0     0.0   2858.0   3338.0
          4           0     0.0     0.0   2892.0   2858.0
          5        1437     0.0     0.0   2454.0   2892.0
...                 ...     ...     ...      ...      ...
HOUSEHOLD 1964     1047     0.0     0.0    933.0   1360.0
          1965     1047     0.0     0.0    893.0    933.0
          1966        0     0.0     0.0    820.0    893.0
          1967        0     0.0     0.0    958.0    820.0
          1968        0     0.0     0.0   1067.0    958.0

[5904 rows x 12 columns]

In [ ]:
# sell_prices.csv から売値(sell_price)をうまくマージできなかったため、今回は後回しした。
# data=data.merge(sell_prices.iloc[:,1:4],on=['item_id','wm_yr_wk'],how='left')

In [ ]:
# メモ：正規表現の書き方
#     data["day"]=data["variable"].apply(lambda x:str(x)[2:])を正規表現で書くと以下の通り
# d_X → Xとしたいとき(X=1～1913)

def devide_day(x):
    
    regex = r"d_(.+)"
    m = re.search(regex, str(x))
    
    if m:
        return m.group(1) 
    else:
        return x
    
tmp = data["variable"].apply(devide_day)
tmp.columns = ["day"]
tmp.head(3)