In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import seaborn as sns
%matplotlib inline
import re

from tqdm import tqdm
import os
for dirname, _,filenames in os.walk('input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

Duplicate key in file 'C:\\Users\\User\\.matplotlib\\matplotlibrc' line #250.

input\200403_last30_sales_less.csv
input\200404_sales_train_validation_EventLess.csv
input\calendar.csv
input\dataCA_1.pickle
input\dataCA_2.pickle
input\dataCA_3.pickle
input\dataCA_4.pickle
input\dataTX_1.pickle
input\dataTX_2.pickle
input\dataTX_3.pickle
input\dataWI_1.pickle
input\dataWI_2.pickle
input\dataWI_3.pickle
input\sales_train_validation.csv
input\sample_submission.csv
input\sell_prices.csv

In [2]:
def read_data():
    print('Reading files...')
    df_val = pd.read_csv('val.csv')

    return df_val

In [3]:
df_val = read_data()

Reading files...

In [20]:
df_val

,id,item_id,dept_id,cat_id,store_id,state_id,date,wm_yr_wk,value,predict,diff,rate
0,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,2016/3/28,11609,1,0.844328,0.155672,1.184374
1,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,2016/3/29,11609,0,0.843772,-0.843772,0.000000
2,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,2016/3/30,11609,0,0.797734,-0.797734,0.000000
3,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,2016/3/31,11609,0,0.807137,-0.807137,0.000000
4,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,2016/4/1,11609,0,0.911495,-0.911495,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
853715,FOODS_3_827_WI_3_validation,1436,2,0,9,2,2016/4/20,11612,0,1.524582,-1.524582,0.000000
853716,FOODS_3_827_WI_3_validation,1436,2,0,9,2,2016/4/21,11612,0,1.514664,-1.514664,0.000000
853717,FOODS_3_827_WI_3_validation,1436,2,0,9,2,2016/4/22,11612,0,1.773846,-1.773846,0.000000
853718,FOODS_3_827_WI_3_validation,1436,2,0,9,2,2016/4/23,11613,0,1.915698,-1.915698,0.000000
853719,FOODS_3_827_WI_3_validation,1436,2,0,9,2,2016/4/24,11613,0,2.180953,-2.180953,0.000000

In [19]:
df_val['diff']=df_val['value']-df_val['predict']
df_val['rate']=df_val['value']/df_val['predict']

In [ ]:
df_val

In [21]:
df_val[(df_val['diff']<-0.5)|(df_val['diff']>0.5)]

,id,item_id,dept_id,cat_id,store_id,state_id,date,wm_yr_wk,value,predict,diff,rate
1,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,2016/3/29,11609,0,0.843772,-0.843772,0.0
2,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,2016/3/30,11609,0,0.797734,-0.797734,0.0
3,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,2016/3/31,11609,0,0.807137,-0.807137,0.0
4,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,2016/4/1,11609,0,0.911495,-0.911495,0.0
5,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,2016/4/2,11610,0,1.068299,-1.068299,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
853715,FOODS_3_827_WI_3_validation,1436,2,0,9,2,2016/4/20,11612,0,1.524582,-1.524582,0.0
853716,FOODS_3_827_WI_3_validation,1436,2,0,9,2,2016/4/21,11612,0,1.514664,-1.514664,0.0
853717,FOODS_3_827_WI_3_validation,1436,2,0,9,2,2016/4/22,11612,0,1.773846,-1.773846,0.0
853718,FOODS_3_827_WI_3_validation,1436,2,0,9,2,2016/4/23,11613,0,1.915698,-1.915698,0.0
853719,FOODS_3_827_WI_3_validation,1436,2,0,9,2,2016/4/24,11613,0,2.180953,-2.180953,0.0

In [15]:
df_val.describe()

,item_id,dept_id,cat_id,store_id,state_id,wm_yr_wk,value,predict,diff
count,853720.000000,853720.000000,853720.000000,853720.000000,853720.000000,853720.000000,853720.000000,853720.000000,853720.000000
mean,1524.000000,3.161036,0.872089,4.500000,0.900000,11610.785714,1.328106,1.369149,-0.041042
std,880.170954,1.915905,0.893495,2.872283,0.830663,1.205854,3.529217,2.879376,2.272910
min,0.000000,0.000000,0.000000,0.000000,0.000000,11609.000000,0.000000,0.054135,-114.931784
25%,762.000000,2.000000,0.000000,2.000000,0.000000,11610.000000,0.000000,0.292793,-0.609368
50%,1524.000000,3.000000,1.000000,4.500000,1.000000,11611.000000,0.000000,0.618938,-0.239396
75%,2286.000000,5.000000,2.000000,7.000000,2.000000,11612.000000,1.000000,1.335614,0.402584
max,3048.000000,6.000000,2.000000,9.000000,2.000000,11613.000000,204.000000,170.931784,118.708500

### iplot でグラフ図示

In [5]:
from plotly import __version__ #
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
cf.go_offline()
import chart_studio.plotly

In [6]:
df_val.iplot(kind='scatter',x='value', y='predict',mode='markers',size=5)

In [ ]:
df_term['day']=df_term['day'].astype('int16') #型変換(object→int) カラムday
# 範囲限定(年・月・日)
df_term = df_term[(df_term["month"] >= 1)&(df_term["month"] <= 7)] #3～7月までのデータをとる
df_term = df_term[df_term['year']>=2012]
df_term = df_term.reset_index(drop = True)
df_term = df_term.drop(["id"],axis = 1)
df_term

In [ ]:
df_sell_prices

# 店の選択は↓で

In [ ]:
df_sell_prices_CA_1 = df_sell_prices[df_sell_prices["store_id"] == "CA_1"]

In [ ]:
#売値(sell_price)を追加
df_term = pd.merge(df_term,df_sell_prices_CA_1,how = 'left',on = ["wm_yr_wk","item_id"])
df_term = df_term.drop(["store_id"],axis = 1)#店は固定で分析するので、store_idは不要
df_term

In [ ]:
#商品発売前のデータを削除
#( 売値(sell_prices)がNaNであるデータを削除 )
df_term = df_term.dropna(subset=["sell_price"])
df_term = df_term.reset_index(drop = True)
df_term

In [ ]:
#カテゴリー(cat_id)ごとの売り上げ個数の合計を求める
df_term_comp = df_term.drop(["wm_yr_wk","wday","month","year","sell_price"],axis = 1)
df_term_comp = df_term_comp.groupby(["cat_id","day"]).sum()
df_term_comp

In [ ]:
# FOODSだけのgroupを取得
df_term_comp_foods = df_term_comp.groupby('cat_id').get_group("FOODS")
df_term_comp_foods.reset_index(inplace=True)# reset_index
df_term_comp_foods

In [ ]:
# HOBBIESだけのgroupを取得
df_term_comp_hobbies = df_term_comp.groupby('cat_id').get_group("HOBBIES")
df_term_comp_hobbies.reset_index(inplace=True)# reset_index
df_term_comp_hobbies

In [ ]:
# HOUSEHOLDだけのgroupを取得
df_term_comp_household = df_term_comp.groupby('cat_id').get_group("HOUSEHOLD")
df_term_comp_household.reset_index(inplace=True)# reset_index
df_term_comp_household

In [ ]:
# df_term_comp_foods=df_term_comp_foods.sort_values('day')
# df_term_comp_foods.reset_index(inplace=True)
# df_term_comp_foods=df_term_comp_foods.drop('index',axis=1)
# df_term_comp_foods

In [ ]:
plt.scatter(df_term_comp_foods['day'],df_term_comp_foods['value'])

In [ ]:
plt.plot(df_term_comp_foods['value'])

In [ ]:
df_term_comp_foods[df_term_comp_foods['value']>4500]

In [ ]:
#横軸 日にち(インデックス),縦軸　売上のグラフ
import plotly.graph_objs as go
fig = go.Figure()
fig.add_trace(go.Scatter(x=np.arange(len(df_term_comp_foods['value'])), y=df_term_comp_foods['value']))
# fig.add_trace(go.Scatter(x=np.arange(df_term_comp_foods['day']), y=df_term_comp_foods['value']))

In [ ]:
import plotly.graph_objs as go
fig = go.Figure()
fig.add_trace(go.Scatter(x=df_term_comp_foods['day'], y=df_term_comp_foods['value']))

In [ ]:
#FOODSのグラフ
import plotly.graph_objs as go
df_2012=df_term_comp_foods[(df_term_comp_foods['day']>=338 )&(df_term_comp_foods['day']<=550)]
df_2013=df_term_comp_foods[(df_term_comp_foods['day']>=704 )&(df_term_comp_foods['day']<=915)]
df_2014=df_term_comp_foods[(df_term_comp_foods['day']>=1068)&(df_term_comp_foods['day']<=1280)]
df_2015=df_term_comp_foods[(df_term_comp_foods['day']>=1433)&(df_term_comp_foods['day']<=1645)]
df_2016=df_term_comp_foods[(df_term_comp_foods['day']>=1799)&(df_term_comp_foods['day']<2000)]

fig = go.Figure()
fig.add_trace(go.Scatter(x=df_2012['day'], y=df_2012['value'])) #trace 0
fig.add_trace(go.Scatter(x=df_2013['day'], y=df_2013['value'])) #trace 1
fig.add_trace(go.Scatter(x=df_2014['day'], y=df_2014['value'])) #trace 2
fig.add_trace(go.Scatter(x=df_2015['day'], y=df_2015['value'])) #trace 3
fig.add_trace(go.Scatter(x=df_2016['day'], y=df_2016['value'])) #trace 4

In [ ]:
#HOBBIESのグラフ
import plotly.graph_objs as go
df_2012=df_term_comp_hobbies[(df_term_comp_hobbies['day']>=338 )&(df_term_comp_hobbies['day']<=550)]
df_2013=df_term_comp_hobbies[(df_term_comp_hobbies['day']>=704 )&(df_term_comp_hobbies['day']<=915)]
df_2014=df_term_comp_hobbies[(df_term_comp_hobbies['day']>=1068)&(df_term_comp_hobbies['day']<=1280)]
df_2015=df_term_comp_hobbies[(df_term_comp_hobbies['day']>=1433)&(df_term_comp_hobbies['day']<=1645)]
df_2016=df_term_comp_hobbies[(df_term_comp_hobbies['day']>=1799)&(df_term_comp_hobbies['day']<2000)]

fig = go.Figure()
fig.add_trace(go.Scatter(x=df_2012['day'], y=df_2012['value'])) #trace 0
fig.add_trace(go.Scatter(x=df_2013['day'], y=df_2013['value'])) #trace 1
fig.add_trace(go.Scatter(x=df_2014['day'], y=df_2014['value'])) #trace 2
fig.add_trace(go.Scatter(x=df_2015['day'], y=df_2015['value'])) #trace 3
fig.add_trace(go.Scatter(x=df_2016['day'], y=df_2016['value'])) #trace 4

In [ ]:
#HOUSEHOLDのグラフ
import plotly.graph_objs as go
df_2012=df_term_comp_household[(df_term_comp_household['day']>=338 )&(df_term_comp_household['day']<=550)]
df_2013=df_term_comp_household[(df_term_comp_household['day']>=704 )&(df_term_comp_household['day']<=915)]
df_2014=df_term_comp_household[(df_term_comp_household['day']>=1068)&(df_term_comp_household['day']<=1280)]
df_2015=df_term_comp_household[(df_term_comp_household['day']>=1433)&(df_term_comp_household['day']<=1645)]
df_2016=df_term_comp_household[(df_term_comp_household['day']>=1799)&(df_term_comp_household['day']<2000)]

fig = go.Figure()
fig.add_trace(go.Scatter(x=df_2012['day'], y=df_2012['value'])) #trace 0
fig.add_trace(go.Scatter(x=df_2013['day'], y=df_2013['value'])) #trace 1
fig.add_trace(go.Scatter(x=df_2014['day'], y=df_2014['value'])) #trace 2
fig.add_trace(go.Scatter(x=df_2015['day'], y=df_2015['value'])) #trace 3
fig.add_trace(go.Scatter(x=df_2016['day'], y=df_2016['value'])) #trace 4

## ここから追加 棒グラフの作成(20/05/02)

In [ ]:
from plotly import __version__ #
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import cufflinks as cf
cf.go_offline()
import chart_studio.plotly

In [ ]:
#HOUSEHOLDのグラフ
# import plotly.graph_objs as go
df_2012=df_term_comp_household[(df_term_comp_household['day']>=338 )&(df_term_comp_household['day']<=550)]
df_2012=df_2012.iloc[:,1:3]
df_2012['day'] = df_2012['day']-337
hh = df_2012

df_2013=df_term_comp_household[(df_term_comp_household['day']>=704 )&(df_term_comp_household['day']<=915)]
df_2013=df_2013.iloc[:,1:3]
df_2013['day'] = df_2013['day']-703
hh=hh.merge(df_2013,on='day',how='left')
hh=hh.rename(columns={'value_x':'2012','value_y':'2013'})

df_2014=df_term_comp_household[(df_term_comp_household['day']>=1068)&(df_term_comp_household['day']<=1280)]
df_2014=df_2014.iloc[:,1:3]
df_2014['day'] = df_2014['day']-1068
hh=hh.merge(df_2014,on='day',how='left')

df_2015=df_term_comp_household[(df_term_comp_household['day']>=1433)&(df_term_comp_household['day']<=1645)]
df_2015=df_2015.iloc[:,1:3]
df_2015['day'] = df_2015['day']-1433
hh=hh.merge(df_2015,on='day',how='left')

df_2016=df_term_comp_household[(df_term_comp_household['day']>=1799)&(df_term_comp_household['day']<2000)]
df_2016=df_2016.iloc[:,1:3]
df_2016['day'] = df_2016['day']-1798
hh=hh.merge(df_2016,on='day',how='left')
# hh=hh.drop('day',axis=1)
hh=hh.rename(columns={'value_x':'2014','value_y':'2015','value':'2016'})
hh

In [ ]:
# デフォでPlotlyのオンラインモードとなっているのでオフラインモードへと変更
# 恒久的にデフォルトをオフラインモードとする方法は下に記述
# cf.go_offline()

hh.iplot(kind='bar',x='day', y={'2012','2013','2014','2015','2016'})
# df_2015.iplot(kind='bar',x='day', y='value')

In [ ]:
hh.iplot(x='day', y={'2012','2013','2014','2015','2016'})

In [ ]:
# For Notebookssl
init_notebook_mode(connected=True)

In [ ]:

# plotly.offline.init_notebook_mode()
# data = [
# #       df2.iplot(kind='bar',x='Category',y='Values')
#     plotly.graph_objs.Scatter(y=[2,3,1,2,5,2], name="legend"),
#     plotly.graph_objs.Scatter(x=[1,2,3,4,5,6], y=[1,2,3,2,3,1], name="legend2"),
# ]
# layout = plotly.graph_objs.Layout(
#     title="title",
#     xaxis={"title":"xlabel"},
#     yaxis={"title":"ylabel"},
# )
# fig = plotly.graph_objs.Figure(data=data, layout=layout)
# plotly.offline.iplot(fig, show_link=False)